*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header ul{
    display: flex;
    flex-flow: row;
    gap: 20px;
    list-style: none;
    justify-content: end;
    padding: 20px 20px 0 0;
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
}

form{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
}